<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>HoneyPot Marketing Platform</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!-- <link rel="stylesheet" href="assets/stylesheets/main.css" /> -->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">


	<!-- Nav Bar -->
			<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          
		          <div class="navbar-brand navbar-left"><a href="/"><img src="assets/logo-small-alt.png"></a></div>        

		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <!-- <li><a href="/login">login</a></li> -->
		            <li><%= link_to "About", "/services" %></li>
		            <li><div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn btn-blue" href="/services">Sign up!</a></div></li>
		          </ul>
		        </div><!--/.navbar-collapse -->
		      </div>
		    </div>

	<!-- Banner -->
					<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
						<!-- <div class="logo"> <a href="#"><img src="assets/startup-template-logo.png" alt="startup-logo"></a> </div> -->
							
		    				<h1>Generate more <u><span data-typer-targets="Customers , Growth , Revenue"></span></u></h1><p> With <strong>Cross Marketing</strong> Partnerships</p></p>
		    				</header>

		    			
					
					<!-- Subscribe form -->

					<!--End mc_embed_signup-->
					<!-- Begin MailChimp Signup Form -->


						<div class="row">
					      <div class="ccol-xs-10 col-xs-offset-3 col-sm-10 col-sm-offset-2 col-lg-10 col-lg-offset-2 subscribe">
					        <form class="form-horizontal" role="form" id="gsheetcontactform" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					          <div class="form-group">
					            <div class="col-md-7 col-sm-6 col-sm-offset-0 col-md-offset-0">
					              <input id='email' name='email' type='email' placeholder="Enter Your Email">
					            </div>
					            <div class="col-xs-2 col-xs-2">
					            <!-- <button type="submit" class="btn btn-success btn-xs button btn-blue clear">Free Trail</button> -->
					              <input id="success" type="submit" value="Free Trial" name="subscribe" class="button btn-blue"></div>
					            </div>
					          </div>
					        </form>
					        <span id="result" class="alertMsg"></span> </div>
					    </div>
  
				</section>


		<!-- Who are we? -->
					<article id="main">

						<header class="special container">
							<span class="icon fa-bar-chart-o"></span>
							<h2>We Provide the Tools</h2><br>
							<h4>Tap into a <strong>new pool</strong> of customers</h4>

							<p>Through our platform, you will be able to create new partnerships and launch
							<br />
							mutually beneficial campaigns with just a few clicks.</p><br>
						</header>

		<!-- Benefits Checklist (Short) -->
					<section id="checklist_feature_1">

						<section class="wrapper style1 container special">
								<div class="row">
									<div class="4u 12u(narrower)">

										<section>

											<span class="icon featured fa-usd"></span>
											<!-- <header> -->
												<!-- <h3>This is Something</h3> -->
											<!-- </header> -->
											<p>Increase your Revenues.</p>
										</section>

									</div>
									<div class="4u 12u(narrower)">

										<section>
											<span class="icon featured fa-user-plus"></span>
											<!-- <header> -->
											<!-- 	<h3>Also Something</h3> -->
											<!-- </header> -->
											<p>Reduce Customer Acquisition Costs</p>
										</section>

									</div>
									<div class="4u 12u(narrower)">

										<section>
											<span class="icon featured fa-line-chart"></span>
											<!-- <header>
												<h3>Probably Something</h3>
											</header> -->
											<p>Grow your company with confidence</p>
										</section>

									</div>
								</div>
							
							</section>

							<div class="col-md-2 col-xs-2 col-md-offset-4 col-xs-offset-1 button-cta">
					              <a href="services" button type="submit" class="btn btn-success btn-xs button btn-gray">Join For Free</a></button>
					</section>

		<!-- Benefit/Feature 1 -->
					<!-- <section id="benefit_feature_1">
						<header>
							<h2>Find the perfect match fast.</h2><br>

							<p>Get a daily batch of curated campaigns.<br>
							We’ll do the hard work of searching for you<br>
							using our partnership matching technology.<br>
							Interview favorites online and collaborate<br>
							with the click of a button.</p>

						</header>

						</section> -->
						<div class="jumbotron2">
							
				        <div class="row">
				        	
				            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 hidden-md hidden-lg">
				            	<img src="/assets/DailyCampaigns.png" class="img-responsive" alt="Get a daily campain request">
				            	</div>
				         	<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-2 col-sm-8 col-sm-offset-2">
				         		<h2>Find the perfect match fast.</h2>
				         			<p>Get a daily batch of curated campaigns.<br>
					            	We’ll do the hard work of searching for you<br>
					            	using our partnership matching technology.<br>
					            	Interview favorites online and collaborate<br>
					            	with the click of a button.</p>
					            </div>
				            <div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm">
				            	<img src="/assets/DailyCampaigns.png" class="img-responsive" alt="Some picture">
				            	</div>
	            			
					        </div>
					        
					    </div>

		<!-- Benefit/Feature 2 -->
					<!-- <section id="benefit_feature_2">

						<header>
							<h2>Work together, effortlessly.</h2><br>

							<p>Collaborate in a secure workplace<br>
							using the latest communication tools.<br>
							Execute your marketing campaigns <br>
							stress free with campaign tracking tools.</p>
						</header>

					</section> -->
                    	<div class="jumbotron">
				        <div class="row">
				            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 col-md-4 col-md-offset-1">
				            	<img src="/assets/ChatClient.png" class="img-responsive" alt="Chat and Work together">
				            	</div>
				         	<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-2 col-sm-8 col-sm-offset-2">
				         		<h2>Work together, effortlessly.</h2>
				         			<p>Collaborate in a secure workplace<br>
									using the latest communication tools.<br>
									Execute your marketing campaigns <br>
									stress free with campaign tracking tools.</p>
					            </div>
				            <!-- <div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm">
				            	<img src="/assets/DailyCampaigns.png" class="img-responsive" alt="Some picture">
				            	</div> -->
	            
					        </div>
					    </div>

	   	<!-- Benefit/Feature 3 -->
					<!-- section id="benefit_feature_3">

						<header>
							<h2>Grow with confidence.</h2><br>

							<p>Get amazing results working with<br>
							the best companies that compliment <br>
							your business. Grow your company with<br>
							confidence, always knowing their business<br>
							goals align with yours.</p>
						</header>

					</section> -->
					<div class="jumbotron2">
				        <div class="row">
				            <div class="benefit_feature_2 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1 hidden-md hidden-lg">
				            	<img src="/assets/dashboard-template.png" class="img-responsive" alt="The Dashboard">
				            	</div>
				         	<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-2 col-sm-8 col-sm-offset-2">
				         		<h2>Grow with confidence.</h2>
				         			<p>Get amazing results working with<br>
									the best companies that compliment <br>
									your business. Grow your company with<br>
									confidence, always knowing their business<br>
									goals align with yours.</p>
					            </div>
				            <div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm">
				            	<img src="/assets/dashboard-template.png" class="img-responsive" alt="The Dashboard">
				            	</div>
	            
					        </div>
					    </div>

		<!-- CTA -->
					<section id="cta">

						<header>
							<h2>Start Growing Your Company Today</h2>
							<p></p>
						</header>
						<footer>
							<div class="col-md-2 col-xs-2 col-md-offset-4 col-xs-offset-1 button-cta">
					              <a href="services" button type="submit" class="btn btn-success btn-xs button btn-blue">Join For Free<a></button>
					            </div>
						</footer>

					</section>

		<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
							<!-- <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li> -->
							<!-- <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li> -->
						</ul>
						<ul class="copyright">
							<li>&copy; 2016 HoneyPod. All rights reserved.</li>
						</ul>
					</footer>
							

	<!-- Scripts -->
				<script src="assets/jquery.min.js"></script>
				<script src="assets/jquery.dropotron.min.js"></script>
				<script src="assets/jquery.scrolly.min.js"></script>
				<script src="assets/jquery.scrollgress.min.js"></script>
				<script src="assets/skel.min.js"></script>
				<script src="assets/util.js"></script>
				<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
				<script src="assets/main.js"></script>
				<script src="assets/typer.js"></script> 

				<!-- Typer --> 
				<script>
				    $(function () {
				      $('[data-typer-targets]').typer();
				    });
				  </script> 

				  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
				  <!-- Custom Theme JavaScript -->
				  <script src='/assets/google-sheet.js'></script>

				<!--============== SUBSCRIBE FORM =================--> 

					<script>
					$(document).ready(function() {
						$('#subscribeForm').ketchup().submit(function() {
							if ($(this).ketchup('isValid')) {
								var action = $(this).attr('action');
								$.ajax({
									url: action,
									type: 'POST',
									data: {
										email: $('#address').val()
									},
									success: function(data){
										$('#result').html(data);
									},
									error: function() {
										$('#result').html('Sorry, an error occurred.');
									}
								});
							}
							return false;
						});
					});


	</body>
</html>